<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />

    <application
        android:name=".BDAApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BancoDeAlimentos"
        tools:targetApi="31">

        <activity android:name=".editar_pontodecoleta" android:exported="false" />
        <activity android:name=".gerenciar_pontosdecoleta" android:exported="false" />
        <activity android:name=".pontosdecoleta_admin" android:exported="false" />
        <activity android:name=".add_admin" android:exported="false" />
        <activity android:name=".pedido_pago" android:exported="false" />
        <activity android:name=".configuracoes_google" android:exported="false" />
        <activity android:name=".gerenciar_admins" android:exported="false" />
        <activity android:name=".configuracoes_email_senha" android:exported="false" />
        <activity android:name=".menu_admin" android:exported="false" />
        <activity android:name=".criar_produto" android:exported="false" />
        <activity android:name=".editar_produto" android:exported="false" />
        <activity android:name=".admin_produtos" android:exported="false" />
        <activity android:name=".pedidos" android:exported="false" />
        <activity android:name=".pagamento" android:exported="false" />
        <activity android:name=".carrinho" android:exported="false" />
        <activity android:name=".doealimentos" android:exported="false" />
        <activity android:name=".pontosdecoleta" android:exported="false" />
        <activity android:name=".voluntariar" android:exported="false" />
        <activity android:name=".telaregistro" android:exported="false" />
        <activity android:name=".telalogin" android:exported="false" />
        <activity
            android:name=".AuthDebugActivity"
            android:exported="false" />

        <activity
            android:name=".AuthBridgeActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".AdminDoacoesActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity android:name=".HistoricoDoacoesActivity" android:exported="false" />
        <activity
            android:name=".AlterarPixWhatsappActivity"
            android:exported="false" />

        <activity
            android:name=".DeepLinkSuccessActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="albertoschneider.github.io"
                    android:pathPrefix="/success"/>
            </intent-filter>
        </activity>


        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EmailActionRouterActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <!-- web.app -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="barc-2025.web.app"
                    android:pathPrefix="/__/auth/action"/>
            </intent-filter>
            <!-- firebaseapp.com -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="barc-2025.firebaseapp.com"
                    android:pathPrefix="/__/auth/action"/>
            </intent-filter>
        </activity>

        <activity android:name=".menu" android:exported="false" />
        <activity android:name=".ResetarSenhaActivity" android:exported="false" />
        <activity android:name=".EmailAtualizadoSucessoActivity" android:exported="false" />
        <activity android:name=".EsqueciSenhaActivity" android:exported="false" />
        <activity android:name=".NovoEmailActivity" android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>
</manifest>
